@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-saira);
}

@layer utilities {
  .auto-layout {
    padding-left: max(calc((100% - 72.5rem) / 2), 1rem);
    padding-right: max(calc((100% - 72.5rem) / 2), 1rem);

    @screen sm {
      padding-left: max(calc((100% - 72.5rem) / 2), 1rem);
      padding-right: max(calc((100% - 72.5rem) / 2), 1rem);
    }

    @screen md {
      padding-left: max(calc((100% - 72.5rem) / 2), 1.5rem);
      padding-right: max(calc((100% - 72.5rem) / 2), 1.5rem);
    }
  }
}
